* {
    font-size: 16px;
}

body {
    background: #FFFF;
}

.navbar {
    background-color: #800000;
    padding: 0;
    justify-content: center;
    position: fixed;
}

.page-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    padding-top: 30px;
    margin: 0 auto;
    top: 124px;
}

#accountPage.page-container {
    max-width: 800px;
}

#loginPage {
    text-align: center;
    margin-top: 25vh;
}

hr {
    height: 1px;
    background-color: #80000020
}

h1 {
    font-size: 28px;
}

p {
    margin: 0;
}

#rosefireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    border-radius: 5px;
    width: 90vw;
}

.nav-tabs .nav-link:hover, .btn:hover, .card-button:hover {
    background-image:  linear-gradient(rgb(0 0 0/30%) 0 0);
    border-color: transparent;
}

.nav-tabs {
    width: 100vw;
    justify-content: space-evenly;
    margin-top: 10px;
}

.nav-tabs .nav-link {
    color: #FFFF;
    border-radius: 0;
}

.nav-item {
    text-align: center;
    width: 33.33%;
}

.row {
    width: 95vw;
}

.search {
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    margin: 10px 0;
}

.search-1 {
    position: relative;
    width: 100%
}

.search-1 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 34px;
    padding-right: 10px;
    border-right: 2px solid #eee
}

.search-1 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}

::placeholder {
    color: #eee;
}

.search-1 button {
    position: absolute;
    right: 1px;
    top: 0px;
    border: none;
    height: 45px;
    background-color: #800000;
    color: #fff;
    width: 90px;
    border-radius: 4px
}

.groups, .individuals, .bills {
    padding: 0px 20px;
    max-width: 600px;
}

.card-groups, .card-individuals {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}

.card-button {
    width: 350px;
    border: none;
    padding: 0;
    border-radius: 6px;
    margin-bottom: 5px;
}

#accountPage .card-button {
    width: 100%;
    margin-bottom: 20px;
}

.card-image {
    text-align: left;
}

.card-img-top {
    height: 66px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
}

.card-body {
    text-align: left;
    padding: 7px;
}

#accountPage .card-body {
    height: 70px;
}

.card-title {
    margin: 0;
}

#expensePage .card {
    display: grid;
    grid-template-columns: 2fr 3.5fr 2fr;
    align-items: center;
}

#accountPage h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.rose-button, .rose-button:hover, .rose-button.active, .rose-button:first-child:active {
    background-color: #800000;
    border-color: #800000;
    color: white;
}

.full-button {
    width: 100%;
}


.piechart { 
    margin-top: 50px; 
    margin-bottom: 50px; 
    display: block; 
    position: relative; 
    margin-left: auto;
    margin-right: auto;
    width: 400px; 
    height: 400px; 
    border-radius: 50%; 
    background-image: conic-gradient( 
        pink 70deg,  
        lightblue 0 235deg,  
        orange 0); 
} 

.piechart { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
.half-button {
    width: 49%;
}

.connect {
    position: fixed;
    bottom: 0%;
    padding: 5px;
    width: 100%;
}



@media (min-width: 500px) {
    #rosefireButton {
        width: 450px;
    }
}