/* General Stuff */
* {
    font-size: 16px;
}

body {
    background: #FFFF;
}

.navbar {
    background-color: #800000;
    padding: 0;
    justify-content: center;
    position: fixed;
}

.page-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    padding-top: 30px;
    margin: 0 auto;
    top: 124px;
}


hr {
    height: 1px;
    background-color: #80000020
}

h1 {
    font-size: 28px;
}

p {
    margin: 0;
}

.nav-tabs .nav-link:hover, .btn:hover, .card-button:hover {
    background-image:  linear-gradient(rgb(0 0 0/30%) 0 0);
    border-color: transparent;
}

.groups, .individuals, .bills, .finances {
    padding: 0px 20px;
    max-width: 600px;
}

/* LOGIN PAGE */

#rosefireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    border-radius: 5px;
    width: 90vw;
}

#loginPage {
    text-align: center;
    margin-top: 25vh;
}


/* Navbar */

.nav-tabs {
    width: 100vw;
    justify-content: space-evenly;
    margin-top: 10px;
}

.nav-tabs .nav-link {
    color: #FFFF;
    border-radius: 0;
}

.nav-item {
    text-align: center;
    width: 33.33%;
}

.row {
    width: 95vw;
}

.search {
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    margin: 10px 0;
}

.search-1 {
    position: relative;
    width: 100%
}

.search-1 input {
    height: 45px;
    border: none;
    width: 100%;
    padding-left: 34px;
    padding-right: 10px;
    border-right: 2px solid #eee
}

.search-1 input:focus {
    border-color: none;
    box-shadow: none;
    outline: none
}

::placeholder {
    color: #eee;
}

.search-1 button {
    position: absolute;
    right: 1px;
    top: 0px;
    border: none;
    height: 45px;
    background-color: #800000;
    color: #fff;
    width: 90px;
    border-radius: 4px
}

/* Finance Page */

#financePage .card-amount {
    display: inline-flex; 
    justify-content: end; 
    align-items: center;
}

#bill-vl {
    height: 62px; 
    margin: 0;
}

#bill-amount {
    padding: 0 7px;
}


.history-amount {
    display: grid;
    justify-items: right;
    margin-right: 10px;
    margin-bottom: 10px;
    grid-template-columns: 1fr;
}

/* Cards */

#expense-card {
    display: grid;
    grid-template-columns: 2fr 3.5fr 2fr;
    align-items: center;
}

#finance-card {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}

.card-groups, .card-individuals, .card-history {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}

.card-button {
    width: 350px;
    border: none;
    padding: 0;
    border-radius: 6px;
    margin-bottom: 5px;
}

#accountPage .card-button {
    width: 100%;
    margin-bottom: 20px;
}

.card-image {
    text-align: left;
}

.card-img-top {
    height: 66px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
}

.card-body {
    text-align: left;
    padding: 7px;
}

#accountPage .card-body {
    height: 70px;
}

.card-title {
    margin: 0;
}


#accountPage h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.rose-button, .rose-button:hover, .rose-button.active, .rose-button:first-child:active {
    background-color: #800000;
    border-color: #800000;
    color: white;
}

.full-button {
    width: 100%;
}

.piechart { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
} 

#piechart {
    margin: 0;
}

.half-button {
    width: 49%;
}

#expense-button-footer, #account-button-footer, #finance-button-footer {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    bottom: 0%;
    padding: 5px;
    width: 100%;
}

#expense-button-footer #connect-button, #editExpensebutton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#expense-button-footer #manage-button, #addExpensebutton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.balance-display {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
    padding: 0 10px;
}

.vl {
    border-left: 2px solid black;
    height: 40px;
    margin: 2px 0;
}


/* Account Page */ 

#accountPage.page-container {
    max-width: 800px;
}

@media (min-width: 500px) {
    #rosefireButton {
        width: 450px;
    }
}